/* You can add global styles to this file, and also import other style files */
@use './tailwind.scss';
@use './layout/layout.scss';
@use './feature/feature.scss';
@use 'primeicons/primeicons.css';
@plugin "daisyui";


.btn {
  @apply rounded-full;
}

.table th,
.table td {
  @apply text-center align-middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
