<form [formGroup]="formGroup">
  <div class="grid grid-cols-4 gap-4 py-2">
    <div class="col-span-2 flex flex-col w-full gap-1">
      <p-float-label variant="on" class="w-full">
        <p-date-picker formControlName="date"
                       id="date"
                       [showIcon]="true"
                       [appendTo]="'body'"
                       dateFormat="dd/mm/yy"
                       [firstDayOfWeek]="1"
                       class="w-full"

        />
        <label for="date" class="flex gap-1">
          <span>Date</span>
          <span class="text-red-500">*</span>
        </label>
      </p-float-label>
      @if (isInvalid(formGroup, 'date')) {
        <p-message severity="error" size="small" variant="simple">Date is required.</p-message>
      }
    </div>
    <div class="col-span-2 flex flex-col w-full gap-1">
      <p-input-group>
        <p-float-label variant="on" class="w-3/5">
          <p-input-number id="amount"
                          formControlName="amount"
                          [min]="0"
                          mode="currency"
                          [currency]="formGroup.get('currency')?.value"
                          [locale]="languageService.getCurrentLanguage().replace('_', '-')"
                          class="w-full"
          />
          <label for="amount" class="flex gap-1">
            <span>Amount</span>
            <span class="text-red-500">*</span>
          </label>
        </p-float-label>
        <p-select id="currency"
                  formControlName="currency"
                  [options]="currencyStore.currencies()"
                  optionValue="code"
                  optionLabel="code"
                  [appendTo]="'body'"
                  class="w-2/5"
        />
      </p-input-group>
      @if (isInvalid(formGroup, 'amount')) {
        <p-message severity="error" size="small" variant="simple">Amount is required.</p-message>
      }
    </div>
    <div class="col-span-4 flex flex-col w-full gap-1">
      <p-float-label variant="on">
        <input pInputText type="text" id="description" formControlName="description" class="w-full"/>
        <label for="description" class="flex gap-1">
          <span>Description</span>
          <span class="text-red-500">*</span>
        </label>
      </p-float-label>
      @if (isInvalid(formGroup, 'description')) {
        <p-message severity="error" size="small" variant="simple">Description is required.</p-message>
      }
    </div>
    <div class="col-span-2 flex flex-col w-full gap-1">
      <p-float-label variant="on">
        <p-select id="account"
                  formControlName="account"
                  [options]="accountStore.accounts()"
                  optionLabel="accountName"
                  optionValue="accountId"
                  [appendTo]="'body'"
                  class="w-full"
        />
        <label for="account" class="flex gap-1">
          <span>Account</span>
          <span class="text-red-500">*</span>
        </label>
      </p-float-label>
      @if (isInvalid(formGroup, 'account')) {
        <p-message severity="error" size="small" variant="simple">Account is required.</p-message>
      }
    </div>
    <div class="col-span-2">
      <p-float-label variant="on">
        <p-select id="category"
                  formControlName="category"
                  [options]="categoryStore.categories()"
                  optionLabel="categoryName"
                  optionValue="categoryId"
                  [appendTo]="'body'"
                  class="w-full"
        />
        <label for="category">Category</label>
      </p-float-label>
    </div>
    @if (transactionStore.tags().length > 0) {
      <div class="col-span-4">
        <p-float-label variant="on">
          <p-multi-select id="tags"
                          formControlName="tags"
                          [options]="transactionStore.tags()"
                          optionLabel="tagName"
                          optionValue="tagId"
                          [appendTo]="'body'"
                          class="w-full"
          />
          <label for="tags">Tags</label>
        </p-float-label>
      </div>
    }
  </div>
</form>
