<!--<p-fieldset [legend]="label()">
  <div class="px-3 py-2 flex flex-col gap-2">
    <p-slider
      [id]="id()"
      [range]="true"
      [min]="min()"
      [max]="max()"
      [step]="step()"
      [disabled]="disabled()"
      [ngModel]="value"
      (ngModelChange)="onSliderChange($event)"
      (onSlideEnd)="onSliderSlideEnd()">
    </p-slider>
    <div class="flex items-center justify-between">
      <span>{{ value?.[0] }}</span>
      <span>{{ value?.[1] }}</span>
    </div>
  </div>
</p-fieldset>-->
<div class="flex items-center gap-2">
  <label for="{{ id() }}">{{ label() }}</label>
  <p-slider
    [id]="id()"
    [range]="true"
    [min]="min()"
    [max]="max()"
    [step]="step()"
    [disabled]="disabled()"
    [ngModel]="value"
    (ngModelChange)="onSliderChange($event)"
    (onSlideEnd)="onSliderSlideEnd()"
    class="w-full">
  </p-slider>
</div>
