apiVersion: v2
name: kafka
description: A Helm chart for Kubernetes
type: application
version: 0.1.0
appVersion: "1.0.0"
dependencies:
  - name: kafka
    version: "32.4.3"
    repository: https://charts.bitnami.com/bitnami