server:
  port:
    ${PORT:8080}

spring:
  security:
    base-path: /usersManagement/api/v1

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always

springdoc:
  api-docs:
    path: /public/api/docs
  swagger-ui:
    path: /public/api/docs/swagger-ui.html
    operations-sorter: alpha