<button
  type="button"
  class="w-5 h-5 rounded cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-blue-500"
  [ngStyle]="{'background-color': _selectedColor.text}"
  (click)="toggle($event)"
>
</button>
<p-popover #op
           (onShow)="onShow()"
>
  <div
    tabindex="0"
    class="shadow-md grid grid-cols-5 gap-2">
    @for (color of colors; track color.name) {
      <label class="relative">
        <input type="radio"
               [value]="color.name"
               [checked]="color.selected"
               [name]="color.name"
               [id]="'color_{{ color.name }}'"
               class="sr-only peer"
               (change)="onSelect(color.name)"
        >
        <div
          class="w-5 h-5 rounded cursor-pointer peer-checked:ring-2 peer-checked:ring-offset-2 peer-checked:ring-blue-500"
          [ngStyle]="{'background-color': color.text}"></div>
      </label>
    }
  </div>
</p-popover>


