ports:
  http: &http 80

#Deployment settings
replicas: 1
serviceAccountName: "nginx"

#Container configuration
container:
  image:
    repository: "lfrat/moneyverse-nginx"
    tag: "latest"
    pullPolicy: "IfNotPresent"
  ports:
    - name: "http"
      containerPort: *http
  resourceTier: "micro"
  livenessProbe:
    httpGet:
      path: "/health"
      port: *http
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 5
    timeoutSeconds: 5
  readinessProbe:
    httpGet:
      path: "/health"
      port: *http
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 5
    timeoutSeconds: 5

#Service configuration
service:
  type: ClusterIP
  ports:
    - name: "http"
      port: *http
      targetPort: *http