<div class="overflow-x-auto">
  <table class="table w-full">
    <!-- head -->
    <thead>
    <tr>
      <th>Date</th>
      <th>Description</th>
      <th>Amount</th>
      <th>Category</th>
      <th>Account</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
      @for (transaction of transactions(); track transaction.transactionId) {
        <tr>
          <td>{{ transaction.date }}</td>
          <td>{{ transaction.description }}</td>
          <td>{{ transaction.amount | currency: transaction.currency }}</td>
          <td>{{ transaction.category?.categoryName ?? '—' }}</td>
          <td>{{ transaction.account?.accountName ?? '—' }}</td>
          <td class="p-0">
            <button
              class="btn btn-ghost btn-xs"
            >
              <app-svg [name]="Icons.PENCIL"/>
            </button>
            <button
              class="btn btn-ghost btn-error btn-xs"
            >
              <app-svg [name]="Icons.TRASH"/>
            </button>
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>
