<div class="card bg-base-100 shadow-sm">
  <div class="card-body">
    <div class="flex justify-between items-center">
      <h2 class="card-title text-lg font-semibold">{{ account().accountName }}</h2>
      <div class="flex gap-4">
        @if (account().default) {
          <div class="badge badge-soft badge-warning">
            <app-svg [name]="Icons.STAR"/>
          </div>
        }
        <div class="badge badge-soft badge-info">{{ category().name }}</div>
      </div>
    </div>
    <div class="pb-4">
      <div class="text-2xl font-bold">{{ account().balance | currency: account().currency }}</div>
    </div>
    <div class="flex justify-center gap-3">
      <button
        class="btn btn-outline btn-info btn-sm"
        (click)="onView()"
      >
        <app-svg [name]="Icons.EYE"/>
      </button>
      <button
        class="btn btn-outline btn-sm"
        (click)="onEdit()"
      >
        <app-svg [name]="Icons.PENCIL"/>
      </button>
      <button
        class="btn btn-outline btn-error btn-sm"
        (click)="openConfirmDialog()"
      >
        <app-svg [name]="Icons.TRASH"/>
      </button>
    </div>
  </div>

  <app-confirm-dialog
    #confirmDialog
    title="Delete account"
    message="Are you sure you want to delete this account? All associated transactions will be deleted.">
  </app-confirm-dialog>
</div>
