<form [formGroup]="formGroup" class="space-y-4">
  <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
    <app-date-picker formControlName="date"
                     id="date-date-picker"
                     [label]="'app.date' | translate"
                     [required]="true"/>

    <div class="col-span-2 grid grid-cols-2 gap-4">
      <app-amount-input-number
        formControlName="amount"
        id="amount-input"
        [label]="'app.amount' | translate"
        [currency]="formGroup.get('currency')?.value"
        [required]="true"/>

      <app-currency-select
        formControlName="currency"
        id="currency-select"
        [required]="true"/>
    </div>
  </div>

  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-account-select formControlName="fromAccount"
                        id="fromAccount-select"
                        [label]="'app.form.accountFrom' | translate"
                        [required]="true"/>

    <app-account-select formControlName="toAccount"
                        id="toAccount-select"
                        [label]="'app.form.accountTo' | translate"
                        [required]="true"/>
  </div>
</form>
