<div class="py-1">
  <div class="flex justify-between items-center">
    <div class="flex">
      @if (level() > 0) {
        <div class="inline-block" [style.width]="(level() * 1.5) + 'rem'"></div>
        <app-svg [name]="IconsEnum.CORNER_DOWN_RIGHT" class="size-6 flex-shrink-0"/>
      }
      <app-category-badge
        [backgroundColor]="category().style.backgroundColor"
        [textColor]="category().style.textColor"
        [icon]="category().style.icon"
        [text]="category().categoryName"
      />
    </div>
    <div class="dropdown dropdown-top dropdown-end">
      <button
        tabindex="0"
        class="btn btn-ghost btn-xs"
      >
        <app-svg [name]="Icons.ELLIPSIS"/>
      </button>
      <div tabindex="0" class="dropdown-content bg-base-100 rounded-box p-2 flex gap-3 shadow-sm">
        <button
          class="btn btn-ghost btn-primary btn-xs"
        >
          <app-svg [name]="Icons.EYE"/>
        </button>
        <button
          class="btn btn-ghost btn-xs"
          (click)="categoryStore.openForm(category())"
        >
          <app-svg [name]="Icons.PENCIL"/>
        </button>
        <button
          class="btn btn-ghost btn-error btn-xs"
          (click)="openConfirmDialog()"
        >
          <app-svg [name]="Icons.TRASH"/>
        </button>
      </div>
    </div>
  </div>
</div>
@if (category().children?.length) {
  <ul>
    @for (child of category().children; track child.categoryId) {
      <li>
        <app-category-tree-item
          [category]="child"
          [level]="level() + 1"
          (delete)="delete.emit($event)"
        />
      </li>
    }
  </ul>
}
<app-confirm-dialog
  title="Delete category"
  message="Are you sure you want to delete this category? All associated transactions will be deleted.">
</app-confirm-dialog>
