<div class="rounded-xl shadow-md p-6 mb-8">
  <div class="stats flex items-center gap-4 pb-2">
    <div class="stat w-60">
      <div class="stat-title">Total Balance</div>
      <div class="stat-value">{{ getTotalBalance() | currency: userCurrency() }}</div>
    </div>
    @if (selectedCategory()) {
      <form class="filter flex gap-2">
        <button class="btn btn-square" type="reset" value="x" (click)="resetDrillDown()">
          <svg-icon src="/assets/icons/x-mark.svg" class="size-5"></svg-icon>
        </button>
        <input class="btn" type="radio" name="category_selected" [checked]="true"
               [attr.aria-label]="selectedCategory()"/>
      </form>
    }
  </div>
  <app-pie-chart
    [options]="pieChartOptions$()"
    [currency]="userCurrency()"
    (sectionClick)="handleDrillDown($event)"
  >
  </app-pie-chart>
</div>
