infisical:
  secretName: "analytics-secret"
  secretsPath: "/analytics"

ports:
  http: &http 7006

#Deployment settings
replicas: 1
serviceAccountName: "analytics-management"

#Container configuration
container:
  image:
    repository: "lfrat/moneyverse-analytics"
    tag: "latest"
    pullPolicy: "Always"
  ports:
    - name: "http"
      containerPort: *http
  resourceTier: "small"
  envFrom:
    - secretRef:
        name: "analytics-secret"
    - configMapRef:
        name: "analytics-config"
  livenessProbe:
    httpGet:
      path: "/actuator/health/liveness"
      port: *http
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 5
    timeoutSeconds: 5
  readinessProbe:
    httpGet:
      path: "/actuator/health/readiness"
      port: *http
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 5
    timeoutSeconds: 5

#Service configuration
service:
  type: ClusterIP
  ports:
    - name: "http"
      port: *http
      targetPort: *http

#ConfigMap data
config:
  serverPort: *http