<form
  [formGroup]="profileForm"
  (ngSubmit)="save()"
>
  <!-- Profile Image -->
  <div class="flex flex-col gap-6 py-4">
    <div class="flex items-center gap-4">
      <div class="avatar avatar-placeholder">
        <div class="bg-neutral text-neutral-content w-15 rounded-full">
          <span class="text-2xl">{{ initialLetters() }}</span>
        </div>
      </div>
      <input type="file" class="file-input file-input-ghost"/>
    </div>
  </div>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <!-- First Name -->
    <div class="flex flex-col">
      <label class="floating-label validator">
        <span>First Name</span>
        <input
          id="firstName"
          type="text"
          formControlName="firstName"
          class="input input-md w-full"
          required
        />
      </label>
      <div class="validator-hint hidden">Enter valid first name</div>
    </div>

    <!-- Last Name -->
    <div class="flex flex-col">
      <label class="floating-label validator">
        <span>Last Name</span>
        <input
          id="lastName"
          type="text"
          formControlName="lastName"
          class="input input-md w-full"
          required
        />
      </label>
      <div class="validator-hint hidden">Enter valid last name</div>
    </div>

    <!-- Email -->
    <div class="flex flex-col md:col-span-2">
      <label class="floating-label validator">
        <span>Email</span>
        <input
          id="email"
          type="email"
          formControlName="email"
          class="input input-md w-full"
          readonly
          required
          email
        />
      </label>
      <div class="validator-hint hidden">Enter valid email</div>
    </div>
  </div>

  <div class="flex justify-center mt-4">
    <button
      class="btn btn-primary"
      type="submit"
      [disabled]="!profileForm.valid"
    >Save
    </button>
  </div>
</form>
