<div class="flex justify-end items-center py-2">
  <div class="flex justify-end items-center">
    <app-dark-mode-toggle/>

    <div class="dropdown dropdown-bottom dropdown-end">
      <button
        tabindex="0"
        class="btn btn-circle btn-ghost mx-2 w-10"
        aria-label="Change language">
        <app-svg [src]="'/assets/icons/flags/' + selectedLanguage.icon + '.svg'" class="size-5"/>
      </button>
      <ul tabindex="0" class="dropdown-content menu bg-base-100 rounded-box z-1 w-30 p-2 shadow-sm">
        @for (language of languages$(); track language.isoCode) {
          <li>
            <a
              class="flex items-center gap-2"
              (click)="changeLanguage(language)"
            >
              <app-svg [src]="'/assets/icons/flags/' + language.icon + '.svg'" class="size-5"/>
              <span>{{ language.country }}</span>
            </a>
          </li>
        }
      </ul>
    </div>

    <div class="dropdown dropdown-bottom dropdown-end">
      <button
        tabindex="0"
        class="btn btn-circle btn-ghost mx-2 w-10"
        aria-label="User menu"
      >
        <div class="avatar">
          <div class="placeholder rounded-full">
            <span>{{ user.firstName.toUpperCase()[0] + user.lastName.toUpperCase()[0] }}</span>
          </div>
        </div>
      </button>

      <div tabindex="0" class="dropdown-content menu p-0 shadow bg-base-100 rounded-box w-45">
        <!-- Header Section -->
        <div class="p-4 border-b">
          <div class="flex items-center gap-3">
            <div class="avatar bg-base-200">
              <div class="placeholder rounded-full">
                <span>{{ user.firstName.toUpperCase()[0] + user.lastName.toUpperCase()[0] }}</span>
              </div>
            </div>
            <div class="flex flex-col">
              <span class="font-bold">{{ user.fullName }}</span>
              <span class="text-sm opacity-70">{{ user.email }}</span>
            </div>
          </div>
        </div>

        <!-- Menu Items -->
        <ul class="menu">
          <li>
            <a
              routerLink="/settings"
              class="cursor-pointer rounded-md transition-colors duration-150"
            >
              <app-svg [name]="IconsEnum.SETTINGS"/>
              <span>{{ 'menu.settings' | translate }}</span>
            </a>
          </li>
          <li>
            <a
              routerLink="/logout"
              class="cursor-pointer rounded-md transition-colors duration-150"
            >
              <app-svg [name]="IconsEnum.LOG_OUT"/>
              <span>{{ 'menu.logout' | translate }}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
