<app-dialog [config]="config()">
  <ng-content header>
    <h3>{{ config().header }}</h3>
  </ng-content>
  <div content class="py-2">
    <app-category-default-grid [defaultCategories]="categoryStore.defaultCategories()"/>
  </div>
  <div footer class="flex justify-center items-center gap-4">
    <p-button
      (onClick)="dialog().close()"
      [rounded]="true"
      [outlined]="true"
      severity="secondary">
      <span>Cancel</span>
    </p-button>
    <p-button
      (onClick)="confirm()"
      [rounded]="true">
      <span>Confirm</span>
    </p-button>
  </div>
</app-dialog>
