<p-dialog
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  [(visible)]="_isOpen"
  (onHide)="close()"
>
  <ng-template #header>
    <h3 class="font-bold text-lg py-4">
      @if (_accountToEdit()) {
        Edit Account
      } @else {
        Add Account
      }
    </h3>
  </ng-template>
  <ng-template #content>
    <div class="py-2">
      <form [formGroup]="accountForm" (ngSubmit)="saveAccount()">
        <div class="flex flex-col gap-4 w-full">
          <!-- Account name -->
          <div class="flex justify-between items-center gap-3">
            <div class="flex flex-col w-full gap-1">
              <p-float-label variant="on">
                <input pInputText type="text" id="accountName" formControlName="accountName" class="w-full"/>
                <label for="accountName">Name</label>
              </p-float-label>
              @if (isInvalid('accountName')) {
                <p-message severity="error" size="small" variant="simple">Account name is required.</p-message>
              }
            </div>

            @if (_accountToEdit()) {
              <div class="flex items-center gap-2">
                <span>Default</span>
                <p-toggle-switch
                  formControlName="isDefault"
                />
              </div>
            }
          </div>


          <!-- Account Description -->
          <p-float-label variant="on">
            <input pInputText type="text" id="accountDescription" formControlName="accountDescription" class="w-full"/>
            <label for="accountDescription">Description</label>
          </p-float-label>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Account Category -->
            <div class="flex flex-col w-full gap-1">
              <p-float-label variant="on">
                <p-select id="accountCategory"
                          formControlName="accountCategory"
                          [options]="categories()"
                          optionLabel="name"
                          optionValue="name"
                          [appendTo]="'body'"
                          class="w-full"
                />
                <label for="accountCategory">Category</label>
              </p-float-label>
              @if (isInvalid('accountCategory')) {
                <p-message severity="error" size="small" variant="simple">Account category is required.</p-message>
              }
            </div>

            <!-- Valuta -->
            <div class="flex flex-col w-full gap-1">
              <p-float-label variant="on">
                <p-select id="currency"
                          formControlName="currency"
                          [options]="currencyStore.currencies()"
                          optionValue="code"
                          [appendTo]="'body'"
                          class="w-full"
                >
                  <ng-template #selectedItem let-currency>
              <span class="flex items-center">
                {{ currency.name }} ({{ currency.code }})
              </span>
                  </ng-template>
                  <ng-template let-currency #item>
              <span class="flex items-center">
                {{ currency.name }} ({{ currency.code }})
              </span>
                  </ng-template>
                </p-select>
                <label for="currency">Currency</label>
              </p-float-label>
              @if (isInvalid('currency')) {
                <p-message severity="error" size="small" variant="simple">Currency is required.</p-message>
              }
            </div>
          </div>

          <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <!-- Account balance -->
            <p-float-label variant="on">
              <p-input-number
                id="balance"
                formControlName="balance"
                mode="currency"
                [currency]="accountForm.get('currency')?.value"
                [locale]="languageService.getCurrentLanguage().replace('_', '-')"
                class="w-full"
              />
              <label for="balance">Balance</label>
            </p-float-label>

            <p-float-label variant="on">
              <p-input-number
                id="target"
                formControlName="target"
                mode="currency"
                [currency]="accountForm.get('currency')?.value"
                [locale]="languageService.getCurrentLanguage().replace('_', '-')"
                class="w-full"
              />
              <label for="target">Target Balance</label>
            </p-float-label>
          </div>

          <div class="flex justify-center gap-4">
            <p-button
              (onClick)="cancel()"
              [rounded]="true"
              [outlined]="true"
              severity="secondary">
              <app-svg [name]="Icons.X"/>
              <span>Cancel</span>
            </p-button>
            <p-button
              (onClick)="saveAccount()"
              [rounded]="true"
              severity="contrast">
              <app-svg [name]="Icons.CHECK"/>
              <span>Save</span>
            </p-button>
          </div>
        </div>
      </form>
    </div>
  </ng-template>
</p-dialog>
