<form [formGroup]="formGroup" class="space-y-4">
  <div class="grid grid-cols-1">
    <app-currency-select formControlName="currency"
                         [required]="true"
                         [disabled]="userCurrency() !== undefined"
                         [filter]="true"/>
  </div>
  <div class="grid grid-cols-1">
    <app-select formControlName="language"
                id="language-select"
                label="Language"
                [required]="true"
                [options]="languages()"
                optionLabel="country"
                optionValue="isoCode"
                [disabled]="userLanguage() !== undefined"/>
  </div>
  <div class="grid grid-cols-1">
    <app-select formControlName="dateFormat"
                id="dateFormat-select"
                label="Date format"
                [required]="true"
                [options]="dateFormats()"
                optionLabel="label"
                optionValue="value"
                [disabled]="userDateFormat() !== undefined"/>
  </div>
  <div class="form-dialog-footer">
    <app-submit-button (onSubmit)="submit()"/>
  </div>
</form>
