{{- include "helm-library.deployment" (list . "frontend.deployment") -}}

{{- define "frontend.deployment" -}}
spec:
  template:
    spec:
      initContainers:
        {{- include "wait-for-service" (dict "name" "kranend" "host" (include "moneyverse.krakend-host" .) "port" .Values.global.dependencies.krakend.ports.http) | nindent 8 }}
        {{- include "wait-for-service" (dict "name" "nginx" "host" (include "moneyverse.nginx-host" .) "port" .Values.global.dependencies.nginx.ports.http) | nindent 8 }}
{{- end -}}