<div class="container mx-auto p-6">
  <header class="mb-8 flex justify-between items-center">
    <h1 class="text-3xl font-bold">Le tue categorie</h1>
    <div class="flex gap-4">
      @if (categories$().length === 0) {
        <button
          class="btn btn-primary"
          (click)="showAddDefaultCategoryModal.set(true)"
        >
          <app-svg [name]="Icons.BOX"/>
          <span>Aggiungi Categorie Predefinite</span>
        </button>
      }
      <button
        class="btn btn-primary"
        (click)="categoryStore.openForm()"
      >
        <app-svg [name]="Icons.PLUS"/>
        <span>Aggiungi Categoria</span>
      </button>
    </div>
  </header>
  <div class="flex justify-center items-center">
    <app-category-tree
      class="w-2/3"
      [categories]="categories$()"
      (deleteCategory)="onDeleteCategory($event)"
    />
  </div>
</div>

<app-dialog
  [show]="showAddDefaultCategoryModal()"
>
  <div class="flex flex-col gap-y-6">
    <h3 class="font-bold text-lg py-4">Le seguenti categorie di spesa verranno create</h3>
    <app-default-category-modal
      (confirm)="createDefaultCategories()"
      (cancel)="showAddDefaultCategoryModal.set(false)"
    />
  </div>
</app-dialog>

<app-dialog
  [show]="categoryStore.isFormOpen()"
>
  <div class="flex flex-col gap-y-6">
    <h3 class="font-bold text-lg py-4">
      New category
    </h3>
    <app-category-form
      [categories]="categories$()"
      [category]="this.categoryStore.selectedCategory()"
      (cancel)="categoryStore.closeForm()"
      (save)="saveCategory($event)"
    />
  </div>
</app-dialog>

<app-toast/>
