<div class="flex gap-2">
  <span class="text-sm font-medium">{{ title() }}</span>
  <div class="flex items-center gap-4">
    <p-input-number
      [(ngModel)]="currentValues()[0]"
      (ngModelChange)="onInputNumberChange($event, 0)"
      [min]="min()"
      [max]="max()"
      [step]="step()"
      [minFractionDigits]="minFractionDigits()"
      [maxFractionDigits]="maxFractionDigits()"
      class="flex-shrink-0"
      [inputStyle]="{ width: '6rem' }"
    />

    <p-slider
      [(ngModel)]="currentValues"
      [range]="true"
      [min]="min()"
      [max]="max()"
      [step]="step()"
      class="flex-grow"
      styleClass="w-28"
    />

    <p-input-number
      [(ngModel)]="currentValues()[1]"
      (ngModelChange)="onInputNumberChange($event, 1)"
      [min]="min()"
      [max]="max()"
      [step]="step()"
      [minFractionDigits]="minFractionDigits()"
      [maxFractionDigits]="maxFractionDigits()"
      class="flex-shrink-0"
      [inputStyle]="{ width: '6rem' }"
    />
  </div>
</div>
