<button
  class="btn btn-primary"
  (click)="transactionStore.openForm()"
>
  <app-svg [name]="Icons.PLUS"/>
  <span>New Transaction</span>
</button>

<app-dialog
  [show]="transactionStore.isFormOpen()"
>
  <div class="flex flex-col gap-y-6">
    <h3 class="font-bold text-lg py-4">
      New Transaction
    </h3>
    <app-transaction-form
      [accounts]="accounts$()"
      [categories]="categories$()"
      [currencies]=" currencies$()"
      (cancel)="transactionStore.closeForm()"
      (save)="saveTransaction($event)"
    />
  </div>
</app-dialog>

<div class="container mx-auto px-4">
  <app-transaction-table
    [transactions]="enrichedTransactions()"
  />
</div>
