<header class="flex justify-between items-center">
  <h1>Budgeting</h1>
  <div class="flex gap-4">
    <p-button
      (onClick)="budgetStore.loadBudgets(true)"
      [rounded]="true"
      variant="text"
      severity="secondary">
      <app-svg [name]="icons.REFRESH"/>
    </p-button>
    <p-button
      (onClick)="budgetFormDialog.open()"
      [rounded]="true">
      <app-svg [name]="icons.PLUS"/>
      <span>New Budget</span>
    </p-button>
  </div>
</header>

<p-card class="w-full p-4">
  <ng-template #header>
    <div class="w-1/2 m-2">
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <app-select
          [ngModel]="selectedCategory()"
          (ngModelChange)="selectedCategory.set($event)"
          [options]="budgetStore.budgetCategories()"
          label="Category"
          optionLabel="categoryName"
          optionValue="categoryId"/>
        @if (periods().length > 0) {
          <app-select
            [ngModel]="selectedPeriod()"
            (ngModelChange)="selectedPeriod.set($event)"
            [options]="periods()"
            optionLabel="label"
            id="selectedPeriod-select"
            label="Period"/>
        }
      </div>
    </div>
  </ng-template>
  <ng-template #content>
    @if (selectedBudget(); as budget) {
      <app-budget-detail [budget]="budget"
                         (onEdit)="budgetFormDialog.open($event)"
                         (onDelete)="deleteBudget($event)"
      />

      <app-budget-transactions-table [budget]="budget"/>
    }
  </ng-template>
</p-card>

<app-budget-form-dialog #budgetFormDialog
                        (onSubmit)="submit($event)"/>

