{
  "$schema": "https://www.krakend.io/schema/v3.json",
  "version": 3,
  "name": "{{ .service.service_name }} ({{ .service.environment }})",
  "port": {{ .service.port }},
  "timeout": "{{ .service.timeout }}",
  "cache_ttl":  "{{ .service.cache_ttl }}",
  "output_encoding": "{{ .service.output_encoding }}",
  "extra_config": {{ marshal .service.extra_config }},
  "endpoints": [{{ template "endpoints.tmpl" . }}]
}