<div class="w-full">
  <div class="card bg-base-100 shadow-xl">
    <div class="card-body">
      <h2 class="card-title text-xl text-primary">Preferences</h2>
      <p class="text-base-content opacity-80">Let's configure your preferences.</p>
      <app-preference-form
        [userCurrency]="userCurrency$()!"
        [userLanguage]="userLanguage$()!"
        [userDateFormat]="userDateFormat$()!"
        [languages]="languages$()"
        [dateFormats]="dateFormats$()"
        (formSubmit)="submit($event)"
      >
      </app-preference-form>
    </div>
  </div>
</div>
