<div class="flex justify-center items-center gap-x-3">
  <!-- KPI: Total Amount -->
  <app-kpi
    title="Total Categories Amount"
    [currentValue]="kpiData().totalAmount | currency: this.preferenceStore.userCurrency()"
    [previousValue]="kpiData().previous?.totalAmount">
  </app-kpi>

  <!-- KPI: Average Category Expense -->
  <app-kpi
    title="Average Categories Amount"
    [currentValue]="kpiData().averageAmount | currency: this.preferenceStore.userCurrency()"
    [previousValue]="kpiData().previous?.averageAmount">
  </app-kpi>

  <!-- KPI: Number of Active Categories -->
  <app-kpi
    title="Active Categories"
    [currentValue]="kpiData().numberOfActiveCategories"
    [previousValue]="kpiData().previous?.numberOfActiveCategories">
  </app-kpi>

  <!-- KPI: Top Expense Category -->
  <app-kpi
    title="Top Expense Category"
    [currentValue]="topCategoryData().category.categoryName + ' (' + (topCategoryData().amount | currency: this.preferenceStore.userCurrency()) + ')'">
  </app-kpi>
</div>
