<ul class="menu w-full">
  @for (item of items(); track item.path) {
    <li>
      @if (item.children?.length) {
        <details class="group">
          <summary
            class="flex items-center gap-2 cursor-pointer p-3 rounded-md transition-colors duration-150"
          >
            <app-svg [name]="item.icon" class="size-6"/>
            <a
              [routerLink]="item.path"
              routerLinkActive="font-semibold"
              [routerLinkActiveOptions]="{ exact: true }"
              class="flex-1 font-medium"
            >
              {{ item.translationKey | translate }}
            </a>
          </summary>
          <div class="pl-4">
            <app-menu-list [items]="item.children ?? []"></app-menu-list>
          </div>
        </details>
      } @else {
        <a
          [routerLink]="item.path"
          routerLinkActive="bg-primary/10"
          class="flex items-center gap-2 p-2 rounded-md
                 hover:bg-primary/10 transition-colors duration-150"
        >
          <app-svg [name]="item.icon" class="size-6"></app-svg>
          <span class="font-medium">{{ item.translationKey | translate }}</span>
        </a>
      }
    </li>
  }
</ul>
