<div class="form-control-container">
  <p-float-label variant="on">
    <p-multi-select [id]="id()"
                    [options]="accountStore.accounts()"
                    optionLabel="accountName"
                    optionValue="accountId"
                    [(ngModel)]="value"
                    [disabled]="disabled()"
                    [required]="required()"
                    (onChange)="onSelect($event)"
                    (onBlur)="onBlur($event)"
                    [display]="display()"
                    [filter]="filter()"
                    filterBy="accountName"
                    [appendTo]="'body'"
                    class="w-full"
                    [class]="showError ? 'ng-dirty ng-invalid' : ''"
                    [fluid]="true"
    />
    <app-label [for]="id()"
               [required]="required()"
               [name]="label() | translate"
               [disabled]="disabled()"
               componentType="multiselect"
    />
  </p-float-label>
  @if (showError) {
    <p-message severity="error" size="small" variant="simple">
      {{ errorMessage }}
    </p-message>
  }
</div>
