<p-fieldset>
  <ng-template #header>
    <div class="flex items-center gap-2">
      <span class="font-bold">Active Filters</span>
      <button class="btn btn-ghost" (click)="accountStore.resetFilters()">
        <app-svg [name]="Icons.FUNNEL_X"/>
      </button>
    </div>
  </ng-template>
  <ng-template #content>
    <div class="flex flex-wrap items-center gap-4">
      @if ((accountStore.accountCriteria().accountCategories ?? []).length > 0) {
        <div class="flex flex-wrap items-center gap-2">
          @for (accountCategory of accountStore.accountCriteria().accountCategories ?? []; track accountCategory) {
            <p-tag [value]="accountCategory" [rounded]="true"/>
          }
        </div>
      }
      @if ((accountStore.accountCriteria().currencies ?? []).length > 0) {
        <div class="flex flex-wrap items-center gap-2">
          @for (currency of accountStore.accountCriteria().currencies ?? []; track currency) {
            <p-tag [value]="currency" severity="secondary" [rounded]="true"/>
          }
        </div>
      }
      @if (accountStore.accountCriteria().balance) {
        <div class="flex flex-wrap items-center gap-2">
          <p-tag severity="info" [rounded]="true">
            <div class="flex items-center gap-2">
              <span>Balance Min: </span>
              <span>{{ accountStore.accountCriteria().balance?.lower?.toFixed(2) }}</span>
            </div>
          </p-tag>
          <p-tag severity="info" [rounded]="true">
            <div class="flex flex-wrap items-center gap-2">
              <span>Balance Max: </span>
              <span>{{ accountStore.accountCriteria().balance?.upper?.toFixed(2) }}</span>
            </div>
          </p-tag>
        </div>
      }
      @if (accountStore.accountCriteria().balanceTarget) {
        <div class="flex flex-wrap items-center gap-2">
          <p-tag severity="info" [rounded]="true">
            <div class="flex items-center gap-2">
              <span>Balance Target Min: </span>
              <span>{{ accountStore.accountCriteria().balanceTarget?.lower?.toFixed(2) }}</span>
            </div>
          </p-tag>
          <p-tag severity="info" [rounded]="true">
            <div class="flex flex-wrap items-center gap-2">
              <span>Balance Target Max: </span>
              <span>{{ accountStore.accountCriteria().balanceTarget?.upper?.toFixed(2) }}</span>
            </div>
          </p-tag>
        </div>
      }
      @if (accountStore.accountCriteria().isDefault !== null) {
        <p-tag severity="success" [rounded]="true">
          @if (accountStore.accountCriteria().isDefault) {
            <span>Default: Yes</span>
          } @else {
            <span>Default: No</span>
          }
        </p-tag>
      }
    </div>
  </ng-template>
</p-fieldset>
