<div class="form-control-container">
  <p-float-label variant="on">
    <p-input-number
      [id]="id()"
      [(ngModel)]="value"
      mode="currency"
      [currency]="currency()"
      [locale]="systemService.currentLanguage()?.locale ?? 'en-US'"
      [disabled]="disabled()"
      (onInput)="onInput($event)"
      (onBlur)="onBlur($event)"
      [class]="showError ? 'ng-dirty ng-invalid' : ''"
      [fluid]="true"
    />
    <app-label [for]="id()"
               [name]="label()"
               [required]="required()"
               [disabled]="disabled()"
               componentType="input"
    />
  </p-float-label>
  @if (showError) {
    <p-message severity="error" size="small" variant="simple">
      {{ errorMessage }}
    </p-message>
  }
</div>
