<p-dialog
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  [(visible)]="_isOpen"
  (onHide)="close()"
  styleClass="w-11/12 md:w-1/2 lg:w-1/3"
>
  @if (_isOpen) {
    <div class="card flex justify-center">
      <p-organization-chart [value]="treeNodes()" [collapsible]="true">
        <ng-template let-node pTemplate="default">
          <div class="flex items-center gap-2">
            <app-svg [name]="node.data.style.icon"/>
            <span>{{ node.data.categoryName }}</span>
          </div>
        </ng-template>
      </p-organization-chart>
    </div>
  }
</p-dialog>
