{{ template "endpoint.tmpl" .currency_endpoints }},
{{ template "endpoint.tmpl" .user_endpoints }},
{{ template "endpoint.tmpl" .account_endpoints }},
{{ template "endpoint.tmpl" .budget_endpoints }},
{{ template "endpoint.tmpl" .transaction_endpoints }},
{{ template "endpoint.tmpl" .analytics_endpoints }}