<div class="toast toast-top toast-center toast-container z-50">
  @if (message(); as toast) {
    <div
      class="alert alert-soft shadow-lg mb-2"
      [ngClass]="getToastClass(toast)"
    >
      <div class="flex items-center gap-2">
        @switch (toast.type) {
          @case ("success") {
            <app-svg [name]="Icons.CIRCLE_CHECK" class="size-6"/>
          }
          @case ("error") {
            <app-svg [name]="Icons.CIRCLE_X" class="size-6"/>
          }
          @case ("warning") {
            <app-svg [name]="Icons.TRIANGLE_ALERT" class="size-6"/>
          }
          @default {
            <app-svg [name]="Icons.INFO" class="size-6"/>
          }
        }
        <span>{{ toast.message }}</span>
      </div>
    </div>
  }
</div>
