<p-dialog [visible]="isVisible()" [modal]="true" (onHide)="onDialogHide()" [closeOnEscape]="true"
>
  <ng-template #header>
    <span>Filters</span>
  </ng-template>
  <form [formGroup]="filterForm">
    <div class="flex flex-col justify-between items-center gap-2">
      <p-float-label variant="on">
        <p-multi-select
          id="account_categories_filter"
          [options]="accountStore.categories()"
          formControlName="accountCategories"
          optionLabel="name"
          optionValue="name"
          display="chip"
          styleClass="w-full"
          [appendTo]="'body'"
        />
        <label for="account_categories_filter" class="text-sm font-medium">Categories</label>
      </p-float-label>

      <p-float-label variant="on">
        <p-multi-select
          id="currencies_filter"
          [options]="currencyStore.currencies()"
          formControlName="currencies"
          optionLabel="code"
          optionValue="code"
          display="chip"
          styleClass="w-full"
        >
          <ng-template let-currency #item>
          <span class="flex items-center">
            {{ currency.name }} ({{ currency.code }})
          </span>
          </ng-template>
        </p-multi-select>
        <label for="currencies_filter" class="text-sm font-medium">Currencies</label>
      </p-float-label>


      <app-range-slider
        title="Balance Range"
        [min]="getBalanceMin()"
        [max]="getBalanceMax()"
        [step]="0.01"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        (onRangeChange)="onBalanceRangeChange($event)"
      />

      <app-range-slider
        title="Balance Target Range"
        [min]="getBalanceTargetMin()"
        [max]="getBalanceTargetMax()"
        [step]="0.01"
        [minFractionDigits]="2"
        [maxFractionDigits]="2"
        (onRangeChange)="onBalanceTargetRangeChange($event)"
      />

    </div>
  </form>
  <ng-template #footer>
    <div class="flex justify-center mt-4">
      <button type="button" class="btn btn-ghost" (click)="reset()">Reset</button>
      <button type="submit" class="btn btn-primary" (click)="apply()">Apply</button>
    </div>
  </ng-template>
</p-dialog>


<!--<form [formGroup]="filterForm" (ngSubmit)="apply()">
  <div class="flex flex-col justify-between items-center gap-2">
    <p-float-label variant="on">
      <p-multi-select
        id="account_categories_filter"
        [options]="accountStore.categories()"
        formControlName="accountCategories"
        optionLabel="name"
        optionValue="name"
        display="chip"
        styleClass="w-full"
      />
      <label for="account_categories_filter" class="text-sm font-medium">Categories</label>
    </p-float-label>

    <p-float-label variant="on">
      <p-multi-select
        id="currencies_filter"
        [options]="currencyStore.currencies()"
        formControlName="currencies"
        optionLabel="code"
        optionValue="code"
        display="chip"
        styleClass="w-full"
      >
        <ng-template let-currency #item>
          <span class="flex items-center">
            {{ currency.name }} ({{ currency.code }})
          </span>
        </ng-template>
      </p-multi-select>
      <label for="currencies_filter" class="text-sm font-medium">Currencies</label>
    </p-float-label>


    <app-range-slider
      title="Balance Range"
      [min]="getBalanceMin()"
      [max]="getBalanceMax()"
      [step]="0.01"
      [minFractionDigits]="2"
      [maxFractionDigits]="2"
      (onRangeChange)="onBalanceRangeChange($event)"
    />

    <app-range-slider
      title="Balance Target Range"
      [min]="getBalanceTargetMin()"
      [max]="getBalanceTargetMax()"
      [step]="0.01"
      [minFractionDigits]="2"
      [maxFractionDigits]="2"
      (onRangeChange)="onBalanceTargetRangeChange($event)"
    />

  </div>

  <div class="flex justify-center mt-4">
    <button type="button" class="btn btn-ghost" (click)="reset()">Reset</button>
    <button type="submit" class="btn btn-primary">Apply</button>
  </div>
</form>-->
