<div class="flex flex-col gap-4 p-4">
  <div class="navbar bg-base-200 shadow-sm rounded-box">
    <ul class="menu menu-vertical lg:menu-horizontal bg-base-200 rounded-box">
      <li>
        <a
          routerLink="/settings/profile"
          class="flex items-center"
        >
          <svg-icon src="/assets/icons/user-circle.svg" class="size-6"></svg-icon>
          <span>Profile</span>
        </a>
      </li>
      <li>
        <a
          routerLink="/settings/preferences"
          class="flex items-center"
        >
          <svg-icon src="/assets/icons/wrench-screwdriver.svg" class="size-6"></svg-icon>
          <span>Preferences</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="flex-1">
    <router-outlet/>
  </div>
</div>
