ports:
  http: &http 8080

#Deployment settings
replicas: 1
serviceAccountName: "krakend"

#Container configuration
container:
  image:
    repository: "lfrat/moneyverse-krakend"
    tag: "latest"
    pullPolicy: "Always"
  ports:
    - name: "http"
      containerPort: *http
  resourceTier: "micro"
  livenessProbe:
    httpGet:
      path: "/__health"
      port: *http
    initialDelaySeconds: 60
    periodSeconds: 10
    failureThreshold: 5
    timeoutSeconds: 5
  readinessProbe:
    httpGet:
      path: "/__health"
      port: *http
    initialDelaySeconds: 30
    periodSeconds: 10
    failureThreshold: 5
    timeoutSeconds: 5
  command: ["/usr/bin/krakend"]
  args: ["run", "-d", "-c", "/etc/krakend/krakend.json", "-p", "8080"]
  securityContext:
    allowPrivilegeEscalation: false
    runAsNonRoot: true
    runAsUser: 1000
    readOnlyRootFilesystem: true
    capabilities:
      drop:
        - ALL
      add:
        - NET_BIND_SERVICE
  env:
  - name: KRAKEND_PORT
    value: "8080"

#Service configuration
service:
  type: NodePort
  ports:
    - name: "http"
      port: *http
      targetPort: *http
      nodePort: 30081

#ConfigMap data
config:
  serverPort: *http