<div class="py-4">
  <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    @for (category of defaultCategories$(); track category.categoryId) {
      <div class="badge p-3"
           [ngStyle]="{'background-color': category.style.backgroundColor, 'color': category.style.textColor}">
        <app-svg [name]="category.style.icon"/>
        {{ category.categoryName }}
      </div>
    }
  </div>
</div>
<div class="flex justify-center gap-3">
  <button
    class="btn btn-outline btn-info btn-sm"
    (click)="onConfirm()"
  >
    Confirm
  </button>
  <button
    class="btn btn-outline btn-sm"
    (click)="onClose()"
  >
    Close
  </button>
</div>
