<div class="drawer drawer-end">
  <input id="filter-drawer" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content">
    <div class="indicator">
      @if (dashboardStore.activeFiltersCount() > 0) {
        <span class="indicator-item badge badge-primary badge-xs">
          {{ dashboardStore.activeFiltersCount() }}
        </span>
      }
      <label for="filter-drawer" class="btn btn-ghost btn-xs">
        <app-svg [name]="Icons.FUNNEL"/>
      </label>
    </div>

  </div>

  <div class="drawer-side z-100">
    <label for="filter-drawer" class="drawer-overlay"></label>
    <ul class="bg-base-200 text-base-content h-full w-80 p-6 flex flex-col gap-y-4">
      <li class="font-semibold text-lg">Filters</li>

      <form [formGroup]="filterForm" (ngSubmit)="apply()" class="flex flex-col gap-y-3">

        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
          <legend class="fieldset-legend">Period</legend>
          <div class="grid grid-cols-3">
            <div class="join gap-x-2">
              <span class="label">Year</span>
              <input type="radio" name="radio-2" class="radio radio-xs" checked="checked"/>
            </div>
            <div class="join gap-x-2">
              <span class="label">Month</span>
              <input type="radio" name="radio-2" class="radio radio-xs" checked="checked"/>
            </div>
            <div class="join gap-x-2">
              <span class="label">Custom</span>
              <input type="radio" name="radio-2" class="radio radio-xs" checked="checked"/>
            </div>
          </div>
          <p-date-picker [(ngModel)]="date3" [iconDisplay]="'input'" [showIcon]="true" inputId="icondisplay"
                         selectionMode="range"/>

        </fieldset>

        <p-floatlabel variant="on">
          <p-multi-select
            class="w-full"
            id="on_accounts"
            [options]="accountsSelect()"
            formControlName="accounts"
            display="chip"
          />
          <label for="on_accounts">Accounts</label>
        </p-floatlabel>

        <p-float-label variant="on">
          <p-multi-select
            class="w-full"
            id="on_categories"
            [options]="categoriesSelect()"
            formControlName="categories"
            display="chip"
          />
          <label for="on_categories">Categories</label>
        </p-float-label>

        <!--<fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
          <legend class="fieldset-legend">Balance</legend>
          <div class="flex justify-between gap-x-3">
            <fieldset class="fieldset">
              <legend class="fieldset-legend">From</legend>
              <input
                id="balanceMin"
                formControlName="balanceMin"
                type="number"
                appDecimalFormat
                class="input input-md rounded"
              />
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">To</legend>
              <input
                id="balanceMax"
                formControlName="balanceMax"
                type="number"
                appDecimalFormat
                class="input input-md rounded"
              />
            </fieldset>
          </div>
        </fieldset>

        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box border p-4">
          <legend class="fieldset-legend">Balance Target</legend>
          <div class="flex justify-between gap-x-3">
            <fieldset class="fieldset">
              <legend class="fieldset-legend">From</legend>
              <input
                id="balanceTargetMin"
                formControlName="balanceTargetMin"
                type="number"
                appDecimalFormat
                class="input input-md rounded"
              />
            </fieldset>
            <fieldset class="fieldset">
              <legend class="fieldset-legend">To</legend>
              <input
                id="balanceTargetMax"
                formControlName="balanceTargetMax"
                type="number"
                appDecimalFormat
                class="input input-md rounded"
              />
            </fieldset>
          </div>
        </fieldset>-->

        <div class="flex justify-between mt-4">
          <button type="button" class="btn btn-ghost" (click)="reset()">Reset</button>
          <button type="submit" class="btn btn-primary">Apply</button>
        </div>
      </form>
    </ul>
  </div>
</div>
