.layout-footer {
  display: flex;
  align-items: center;
  justify-content: end;
  padding: 0.5rem 0 0.5rem 0;
  gap: 0.5rem;
  border-top: 1px solid var(--surface-border);

  svg {
    width: 8rem;
  }
}
