.horizontal-pie-chart-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 1rem 1rem 1rem;
  padding: 1rem 0 1rem 0;
  gap: 1rem;
  border-bottom: 1px solid var(--surface-border);
}
