{{/*
Base infisical secret template
*/}}
{{- define "helm-library.infiscal-secret.tpl" -}}
{{- $requiredMsg := include "helm-library.default-check-required-msg" . -}}
{{- $infisicalSecret := .Values.infisical -}}
{{- $infisical := .Values.global.infisical -}}
apiVersion: secrets.infisical.com/v1alpha1
kind: InfisicalSecret
metadata:
  name: {{ include "infisical.name" . | quote }}
  labels:
      {{- include "helm-library.labels" . | nindent 4 }}
spec:
  hostAPI: {{ $infisical.hostAPI | default "https://eu.infisical.com" | quote }}
  resyncInterval: {{ $infisical.resyncInterval | default 60 }}
  authentication:
    universalAuth:
      secretsScope:
        projectSlug: {{ $infisical.projectSlug | default "moneyverse-sg-ae" | quote }}
        envSlug: {{ $infisical.envSlug | quote }}
        secretsPath: {{ $infisicalSecret.secretsPath | default "/" | quote }}
      credentialsRef:
        secretName: {{ $infisical.credentialsSecretName | default "universal-auth-credentials" | quote }}
        secretNamespace: {{ .Values.global.namespace | quote }}
  managedKubeSecretReferences:
    - secretName: {{ $infisicalSecret.secretName | default (printf "%s-secret" .Chart.Name ) | quote }}
      secretNamespace: {{ .Values.global.namespace | quote }}
      creationPolicy: {{ $infisicalSecret.creationPolicy | default "Orphan" | quote }}
      template:
        includeAllSecrets: true
{{- end }}

{{/*
Main infisical secret template with override support
*/}}
{{- define "helm-library.infiscal-secret" -}}
{{- include "helm-library.util.merge" (append . "helm-library.infiscal-secret.tpl") -}}
{{- end -}}