server:
  port:
    ${PORT:8085}

spring:
  security:
    base-path: /analytics/api/v1
  batch:
    jdbc:
      initialize-schema: always
    job:
      enabled: false
  flyway:
    clickhouse:
      locations: classpath:db/migration/clickhouse
    postgres:
      locations: classpath:db/migration/postgres

management:
  endpoints:
    web:
      exposure:
        include: "*"
  health:
    readiness-state:
      enabled: true
    liveness-state:
      enabled: true
  endpoint:
    health:
      probes:
        enabled: true
      show-details: always