/* You can add global styles to this file, and also import other style files */
@use "tailwindcss";
@plugin "daisyui";
@plugin "tailwindcss-primeui";

:root {
  font-size: 1rem;
  font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  line-height: normal;
}

.btn {
  @apply rounded-full;
}

.table th,
.table td {
  @apply text-center align-middle;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}
