name: Backend CI
on:
  workflow_call:
    inputs:
      service:
        required: true
        type: string

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Set up JDK 21
        uses: actions/setup-java@v5
        with:
          distribution: temurin
          java-version: 21
          cache: maven

      - name: Build and run tests
        run: mvn -B -f moneyverse-be-bom/moneyverse-be-lib/pom.xml -pl ${{ inputs.service }} -am clean install

      - name: SonarQube Scan
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          SONAR_HOST_URL: ${{ vars.SONAR_HOST_URL }}
          SONAR_ORGANIZATION: ${{ vars.SONAR_ORGANIZATION }}
        run: |
          mvn -B -f moneyverse-be-bom/moneyverse-be-lib/${{ inputs.service }}/pom.xml sonar:sonar \
            -Dsonar.organization=$SONAR_ORGANIZATION \
            -Dsonar.projectKey=it.moneyverse:${{ inputs.service }} \
            -Dsonar.host.url=$SONAR_HOST_URL \
            -Dsonar.token=$SONAR_TOKEN \
            -Dsonar.coverage.jacoco.xmlReportPaths=target/site/jacoco/jacoco.xml \
            -Dsonar.qualitygate.wait=true

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: moneyverse-be-bom
          file: moneyverse-be-bom/moneyverse-be-lib/${{ inputs.service }}/Dockerfile
          push: true
          tags: docker.io/${{ secrets.DOCKER_USERNAME }}/${{ inputs.service }}:latest